{{ actions | safe }}

{% if main_strifer.is_leader && !potential_leaders.is_empty() %}
    <form hx-post="/strife/leader" hx-target="#action-result">
        <select name="leader_id">
            {% for leader in potential_leaders %}
                <option value="{{ leader.id }}">{{ leader.name }}</option>
            {% endfor %}
        </select><br />
        <input type="submit" value="Grant leadership" />
    </form><br />
{% endif %}